.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.recommendationContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

@media (max-width: 767px) {
  /* mobil için stiller */
  .recommendationContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
