.container {
  border-radius: 30px;
  width: 353px;
  height: 651px;
  background: #1f1f1f;
  margin-top: 16px;
  padding: 40px 20px 20px 20px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 8px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.inputContainer {
  display: flex;
  align-items: center;
  background: #262626;
  padding: 8px;
  border-radius: 12px;
  padding: 16px 12px;
  width: 313px;
  height: 50px;
}
.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #686868;
}

.field {
  background: #262626;
  background: transparent;
  padding-left: 10px;
}
.inputContainer input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1; /* kalan alanı kaplar */
}
.field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 122px;
  height: 42px;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}
.workoutContainer {
  width: 313px;
  height: 272px;
  padding: 20px;
  border-radius: 12px;
  background: #262626;
  margin-top: 20px;
}

.workoutTitle {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin: 0px;
}
.list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  gap: 20px;
}
.listItemContainer {
  display: flex;
  align-items: center;
  width: 253px;
  height: 54px;
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 12px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #f9f9f9;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1f1f1f;
}
.listText {
  width: 197px;
  height: 54px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
  margin: 0;
  text-align: left;
}
.listText span {
  color: #f9f9f9;
}
.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
.bottomSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 313px;
  height: 83px;
  background: #262626;
  margin-top: 20px;
  gap: 14px;
}
.bottomImg {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000;
}
.bottomText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
  width: 219px;
  height: 54px;
  text-align: left;
}

.bottomText span {
  color: #f9f9f9;
}

@media (max-width: 1023px) {
  /* tablet için stiller */
  .container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 704px;
    height: 336px;
  }
  .bottomSection {
    display: none;
  }
  .workoutContainer {
    margin: 0px;
  }
}
@media (max-width: 767px) {
  /* mobil için stiller */
  .container {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 478px;
    padding: 20px;
  }
  .workoutContainer {
    width: 295px;
    height: 244px;
    padding: 20px;
  }
  .bottomSection {
    display: none;
  }
  .inputContainer {
    width: 295px;
    height: 44px;
  }
  .inputContainer input {
    font-size: 12px;
  }
  .title {
    font-size: 10px;
  }
  .subtitle {
    font-size: 12px;
  }
  .button {
    width: 98px;
    height: 38px;
    font-size: 14px;
  }
  .workoutTitle {
    font-size: 18px;
  }
  .listItem {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .listItemContainer {
    width: 255px;
    height: 54px;
  }
  .listText {
    font-size: 14px;
  }
  .list {
    margin-top: 20px;
  }
}
