.libraryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  .libraryContent {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .libraryContent {
    flex-direction: column;
    gap: 10px;
  }
}
