.container {
  width: 1280px;
  height: 800px;
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.leftSection {
  border-radius: 30px;
  width: 600px;
  height: 736px;
  background: #1f1f1f;
}

.rightSection {
  width: 600px;
  height: 736px;
  background: #1f1f1f;
  border-radius: 30px;
}
