.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  font-family: var(--font-family);
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.leftSection {
  border-radius: 30px;
  width: 600px;
  height: 736px;
  background: #1f1f1f;
  padding: 40px 64px;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
}

.mobileLogo {
  display: none;
}

.registerLoginTitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 94%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  text-align: left;
  margin-top: 107px;
  margin-bottom: 40px;
}

.registerLoginTitle span {
  color: rgba(227, 227, 227, 0.5);
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.formSection input {
  border-radius: 12px;
  padding: 16px 304px 16px 14px;
  width: 472px;
  height: 50px;
  background: #262626;
  border: none;
  outline: none;
}
.btnSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 82px;
  /* margin-bottom: 40px; */
}
.btnSectionLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}

.registerBtn {
  border-radius: 30px;
  padding: 16px 54px;
  width: 225px;
  height: 52px;
  background: #f9f9f9;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #1f1f1f;
  border: none;
  outline: none;
  cursor: pointer;
}

.loginBtn {
  border-radius: 30px;
  padding: 16px 54px;
  width: 166px;
  height: 52px;
  background: #f9f9f9;
}
.rightSection {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 600px;
  height: 736px;
  background: #1f1f1f;
  border-radius: 30px;
}
.heroMobileImage {
  display: none;
}

@media (max-width: 1439px) {
  /* laptop/small desktop için stiller */
}
@media (max-width: 1023px) {
  /* tablet için stiller */
  .container {
    width: 768px;
    height: 1024px;
  }
  .leftSection {
    border-radius: 30px;
    width: 704px;
    height: 960px;
    padding: 40px 64px;
  }
  .rightSection {
    display: none;
  }
}
@media (max-width: 767px) {
  /* mobil için stiller */
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    box-sizing: border-box;
  }
  .sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logoContainer {
    justify-content: start;
    margin-bottom: 16px;
  }
  .desktopLogo {
    display: none;
  }
  .mobileLogo {
    display: block;

    margin-bottom: 40px;
    object-fit: contain;
  }
  .leftSection {
    border-radius: 30px;
    width: 100%;
    max-width: 335px;
    height: auto;
    max-height: 411px;
    box-sizing: border-box;
    padding: 20px;
  }
  .rightSection {
    display: block;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    max-width: 335px;
    height: auto;
    min-height: 411px;
    box-sizing: border-box;
  }
  .registerLoginTitle {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .formSection {
    gap: 8px;
  }
  .formSection input {
    border-radius: 12px;
    padding: 14px 148px 14px 14px;
    width: 295px;
    height: 44px;
  }
  .btnSection {
    margin-top: 20px;
    gap: 14px;
  }
  .registerBtn {
    border-radius: 30px;
    padding: 12px 29px;
    width: 140px;
    height: 42px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.02em;
    color: #1f1f1f;
  }
  .btnSectionLink {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #686868;
  }
  .heroImage {
    display: none;
  }
  .heroMobileImage {
    display: block;
  }
}
@media (max-width: 374px) {
  /* küçük mobil için stiller */
}
