.container {
  border-radius: 30px;
  width: 353px;
  height: 651px;
  background: #1f1f1f;
  margin-top: 16px;
  padding: 40px 20px 20px 20px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 8px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.inputContainer {
  display: flex;
  align-items: center;
  background: #262626;
  border-radius: 12px;
  padding: 16px 0px 16px 12px;
  width: 313px;
  height: 50px;
}
.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #686868;
}

.field {
  background: #262626;
  background: transparent;
  padding-left: 10px;
}
.inputContainer input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
}
.field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 122px;
  height: 42px;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #686868;
}
.bottomSection {
  border-radius: 12px;
  width: 313px;
  height: 259px;
  background: #262626;
  margin-top: 78px;
  padding: 20px;
}
.bottomTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #e3e3e3;
  margin: 0;
  text-align: left;
}
.bottomList {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin-top: 20px;
}
.bottomItem {
  width: 71px;
  height: 141px;
}
.bottomImage {
  border-radius: 8px;
  width: 71px;
  height: 107px;
  cursor: pointer;
}
.bookInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.bookTitle {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}
.bookAuthor {
  margin: 0px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #686868;
}
.linkContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.arrowIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  color: #fff;
}
@media (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 704px;
    height: 336px;
    gap: 32px;
  }
  .bottomSection {
    width: 313px;
    height: 272px;
    margin-top: 0px;
  }
  .inputContainer {
    width: 295px;
    height: 50px;
    padding: 16px 16px 16px 14px;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 528px;
    padding: 20px;
  }
  .bottomSection {
    width: 295px;
    height: 244px;
  }
  .inputContainer {
    width: 295px;
    height: 40px;
    padding: 14px 31px 14px 14px;
  }
  .bottomTitle {
    font-size: 18px;
  }
  .bookTitle {
    font-size: 10px;
  }
  .linkContainer {
    margin-top: 17px;
  }
  .bottomList {
    margin-top: 17px;
  }
  .subtitle {
    font-size: 12px;
  }
  .button {
    width: 105px;
    height: 38px;
    font-size: 14px;
  }

  .title {
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #f9f9f9;
  }
}
